<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align: center">
    <h1>Aplicação SocketIO Client</h1>
    <p>Endereço do servidor Socket IO: <i style="color: blueviolet">{{ urlServerSocketIo }}</i></p>
    <p [ngStyle]="messageSocketIoStatusColor()">Status: {{ connectionSocketIoStatus.message }}</p>
  </div>

  <div>
    <h1>Aplicação API Client</h1>
    <p>Endereço da API: <i style="color: darkslateblue">{{ urlServerApi }}</i></p>
    <p [ngStyle]="messageApiStatusColor()">Status: {{ connectionApiStatus.message }}</p>

    <button (click)="getAllUsersFromAPI()" mat-raised-button color="primary">ATUALIZAR LISTA DE USUÁRIOS</button>
    <br/>

    <div>
      <mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> Primeiro Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Último Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element"><button mat-raised-button (click)="deleteUserByIdFromAPI(element._id)"
              color="primary">EXCLUIR</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

      </mat-table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>