<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align: center">
    <h1>Aplicação SocketIO Client</h1>
    <p>Endereço do servidor Socket IO: <i style="color: blueviolet">{{ urlServerSocketIo }}</i></p>

    <br />
    <p [ngStyle]="messageColor()">Status: {{ connectionStatus.message }}</p>
  </div>

  <div>
    <h1>Aplicação API Client</h1>
    <button (click)="getAllUsers()">LER USUÁRIOS DA API</button>

    <table>
      <tr>
        <th>Nome</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }}</td>
        <td><button (click)="deleteUserById(user._id)">EXCLUIR</button></td>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>